body {
  margin: 10px 20px;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body * {
  box-sizing: border-box;
}

div.app .appTitle{
  text-align: center;
}

div.appContent {
  display: flex;
  justify-content: space-between;
}

div.profileForm form * {
  display: flex;
}

input[name="username"],
input[name="email"],
input[name="password"],
select[name="shape"],
.hobbyFakeInput {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  border-radius: 5px;
  border: 2px solid #d1d1d1;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #252525;
  background-color: #fff;
}

textarea[name="intro"] {
  resize: none;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #d1d1d1;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #252525;
  background-color: #fff;
}

div.profileForm form .error {
  background-color: rgba(255, 0, 0, 0.15);
  box-shadow: 0px 0px 8px 0px #ffdcdc;
  color: red;
  font-size: 0.9em;
  text-align: center;
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
  justify-content: center;
}

div.profileForm form > div {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
}

div.profileForm form input,
div.profileForm form textarea,
div.profileForm form select,
.hobbySelector {
  margin-top: 5px;
}

#username,
#email,
#intro,
#background {
  margin-bottom: 5px;
}

input[type="submit"] {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}

input:required {
  box-shadow:none;
}

input[type="submit"].submit-error {
  animation: circle-fade-error 1s linear;
}

input[type="submit"].submit-success {
  animation: circle-fade-success 1s linear;
}


@keyframes circle-fade-error {
  0%   {box-shadow: 0px 0px 0px 0px red;}
  10%  {box-shadow: 1px 1px 1px 1px red;}
  20%  {box-shadow: 1px -1px 1px 1px red;}
  30%  {box-shadow: -1px -1px 1px 1px red;}
  40%  {box-shadow: -1px 1px 1px 1px red;}
  50%  {box-shadow: 1px 1px 1px 1px red;}
  80%  {box-shadow: 0px 0px 0px 0px red;}
  90%  {box-shadow: 0px 0px 5px 2px red;}
  100% {box-shadow: 0px 0px 0px 0px red;}
}

@keyframes circle-fade-success {
  0%   {box-shadow: 0px 0px 0px 0px green;}
  10%  {box-shadow: 1px 1px 1px 1px green;}
  20%  {box-shadow: 1px -1px 1px 1px green;}
  30%  {box-shadow: -1px -1px 1px 1px green;}
  40%  {box-shadow: -1px 1px 1px 1px green;}
  50%  {box-shadow: 1px 1px 1px 1px green;}
  80%  {box-shadow: 0px 0px 0px 0px green;}
  90%  {box-shadow: 0px 0px 5px 2px green;}
  100% {box-shadow: 0px 0px 0px 0px green;}
}

div#background {
  display: inline-block;
}



.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  opacity: 0.5;
  cursor: pointer;
}

.arrow-down:hover {
  opacity: 0.8;
}

div.profileForm .imageSelector {
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px 0px;
  justify-content: space-evenly;
  box-shadow: 1px 1px 8px 0px #b3b3b3;
}

div.profileForm .imageSelector .activeImage {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
  align-items: center;
}

div.profileForm .imageSelector * {
  display: inline-block;;
}

div.profileForm .imageSelector img {
  cursor: pointer;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 5px;
  opacity: 0.5;
  border-radius: 5px;
}

div.profileForm .imageSelector img:hover {
  border-radius: 5px;
  /*background-color: black;*/
  opacity: 1;
}

div.profileForm .imageSelector img.active {
  opacity: 1;
}


div.profileForm .imageSelector .availableImages,
div.profileForm .hobbySelector .hobbiesList {
  transition: opacity 0.15s;
}

div.profileForm .hobbySelector {
  flex-direction: column;
}

div.profileForm .hobbyFakeInput {
  flex-wrap: wrap;
  padding: 5px;
  height: auto;
  min-height: 40px;
  padding: 0px 0px 5px 5px;
}

div.profileForm .hobbyFakeInput.focused {
  border: 3px solid #8eb0e7;
}

div.profileForm .hobbyFakeInput .hobbiesSelected {
  align-items: center;
  flex-wrap: wrap;
}

div.profileForm .hobbyFakeInput .hobbyBox {
  padding: 5px;
  background-color: rgba(22, 255, 0, 0.09);
  border-radius: 2px;
  border: 1px solid rgba(34, 255, 0, 0.4);
  color: #20b61c;
  margin: 5px 5px 0px 0px;
  align-items: center;
  text-align: center;
}

div.profileForm .hobbyFakeInput .hobbyBox .removeHobby {
  margin-right: 5px;
  padding: 0px 5px 0px 0px;
  border-right: 1px solid #20b61c;
  cursor: pointer;
  transition: color 0.25s ease-out;
}

div.profileForm .hobbyFakeInput .hobbyBox .removeHobby:hover {
  color: red;
}

div.profileForm .hobbyInput {
  flex: 1;
  padding: 5px 0px 0px 0px;
}

div.profileForm .hobbyFakeInput input {
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  display: flex;
  flex: 1;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
}

div.profileForm .hobbySelector .hobbiesList {
  margin: 0;
  padding: 0;
}
div.profileForm .hobbySelector .hobbiesList ul {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 100%;
}

div.profileForm .hobbySelector .hobbiesList ul li {
  align-items: center;
  border: 0 solid #d1d1d1;
  border-width: 1px 2px;
  padding: 5px 10px;
  cursor: pointer;
  justify-content: space-between;
  transition: background-color 0.5s ease;
}

div.profileForm .hobbySelector .hobbiesList ul li:hover {
  background-color: #ddefff;
}

div.profileForm .hobbySelector .hobbiesList ul li .addHobby {
  font-size: 1.5em;
  transition: color 0.5s ease;
}

div.profileForm .hobbySelector .hobbiesList ul li:hover .addHobby {
  color: green;
}
