/*PROJECTS CAROUSEL*/

.cell {
  width: 35%;
  display: flex;
  margin-right: 10px;
  padding: 5px 20px;
  justify-content: space-evenly;
  flex-direction: column;
}

.cell p {
  display: flex;
  font-weight: lighter;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.cell p:last-child {
  justify-content: space-evenly;
}

.cell.is-selected {
	border-radius: 10px;
	background: rgba(192,192,192,0.1); 
}

.cell img {
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  justify-content: center;
  display: flex;
}

.cell a {
	font-weight: bold;
	text-shadow: #111 0px 1px 10px;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
