html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	color: #ffecec !important;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif !important;
	line-height: 1.5 !important;
	-webkit-font-smoothing: antialiased !important;
	background-image: url(../images/grey_background.jpg) !important;
	background-size: cover !important;
	padding: 15px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-weight: 700;
	color: #222222;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

h2 {
	padding-bottom: 10px;
	font-size: 32px;
	background: url('../images/bg_hr.png') repeat-x bottom;
}

p {
	margin: 10px 0;
	color: #d0d0d0;
	text-shadow: 1px 2px 2px #191919;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #007edf;
	text-shadow: none;
	transition: color 0.5s ease;
	transition: text-shadow 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: color 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: color 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: color 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
}

a:hover,
a:focus {
	text-decoration: underline;
}

img {
	position: relative;
	margin: 0 auto;
	max-width: 739px;
	box-shadow: 0 0 5px #ebebeb;
	-webkit-box-shadow: 0 0 5px #ebebeb;
	-moz-box-shadow: 0 0 5px #ebebeb;
	-o-box-shadow: 0 0 5px #ebebeb;
	-ms-box-shadow: 0 0 5px #ebebeb;
}

ul,
ol,
dl {
	margin-bottom: 15px;
}

ol {
	list-style-position: inside;
	list-style: decimal;
	padding-left: 20px;
}

.outer {
	width: 100%;
}

.inner {
	position: relative;
	max-width: 640px;
	padding: 20px 10px;
	margin: 0 auto;
}

#header_wrap {
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	font-family: 'Gill Sans', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#header_wrap header {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

#header_wrap header > div {
	display: inline-flex;
	align-items: center;
}

.page_title {
	display: flex;
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	text-shadow: #111 0px 5px 10px;
	justify-content: center;
	text-align: center;
}

#page_tagline {
	color: #fff;
	font-size: 24px;
	margin: 0;
	font-weight: 300;
	background: none;
	text-shadow: #111 0px 5px 10px;
	padding: 0;
}

#main_content_wrap {
	text-align: center;
}

#main_content_wrap .inner:first-child {
	padding-top: 0px;
}

.intro {
	justify-content: center;
	display: flex;
}

#introduction {
	text-align: justify;
	font-size: 17px;
	font-family: 'Gill Sans', sans-serif;
	padding: 5px 10px;
	margin: 0px 25px;
	border-radius: 10px;
	box-shadow: 0px 0px 60px rgba(192, 192, 192, 0.3);
	background: rgba(255, 255, 255, 0.1);
}

img.portrait {
	border-radius: 50%;
}

.highlight {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 20px;
	font-family: 'Gill Sans', sans-serif;
	text-shadow: #111 2px 2px 1px;
}

.button {
	transition: 0.25s ease-out;
	font-size: 0.9em;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	height: 3.7em;
	line-height: 3.7em;
	border-radius: 1px;
	padding: 0 1em;
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

.button:hover {
	background: rgba(255, 255, 255, 0.8);
	color: #000;
	outline: 1px solid #999;
}

.view_projects_bt {
	margin-top: 30px;
	padding: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pt-page {
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
}

.pt-page-1 {
	height: 100vh;
}

@font-face {
	font-family: 'Open Sans';
	src: local('fonts/OpenSans-Regular.ttf'),
		url('fonts/OpenSans-Regular.ttf') format('truetype');
	/* TTF file for CSS3 browsers */
	font-display: swap;
}

@font-face {
	font-family: 'Gill Sans';
	font-style: normal;
	font-weight: normal;
	src: local('fonts/Gill Sans'), url('fonts/Gill Sans.woff') format('woff');
	font-display: swap;
}

.cl-effect-5 a {
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
}

section.projects {
	padding: 0 10px;
	color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project {
	position: relative;
}

.project .project-preview {
	width: 100%;
	height: 100%;
	display: flex;
	align-self: center;
	flex-direction: column;
	justify-content: center;
	transform: scale(1);
	transition: 0.25s ease-in-out;
}

.project .project-title {
	font-size: 19px;
	align-self: center;
}

.project .project-details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0rem 2rem;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	border-radius: 10px;
	-webkit-transition: 0.45s ease-in-out;
	transition: 0.45s ease-in-out;
}

.project:hover .project-preview {
	transform: scale(1.1);
	transition: 0.25s ease-in-out;
}

.project:hover .project-details {
	opacity: 1;
	background-color: #272727;
	box-shadow: 0px 0px 60px rgba(192, 192, 192, 0.3);
}

.project-details div {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
}

.pt-page-2 section {
	max-width: 65%;
}

.pt-page-2 > div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#skills-page {
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

#skills-page img {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

#skills_title {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	text-shadow: #111 0px 5px 10px;
}

#skills-page .container {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-shadow: #4a4a4a 2px 2px 10px;
}

#skills-page .container > div {
	width: 20%;
	text-align: center;
	text-shadow: #111 0px 5px 10px;
}

#skills-page .container > div:hover {
	background-color: rgba(192, 192, 192, 0.3);
}

.gray-container {
	min-width: 300px;
	padding: 15px 20px;
	border-radius: 10px;
	text-shadow: #111 0px 5px 10px;
	background-color: rgba(192, 192, 192, 0.1);
}

.gray-container:hover {
	background-color: rgba(192, 192, 192, 0.3);
}

.pt-page-3 section {
	max-width: 100%;
	padding: 0px 10px;
}

.skills-imgs {
	vertical-align: middle;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: center;
	align-self: center;
}

.skills-imgs a:focus,
.skills-imgs a:hover {
	vertical-align: middle;
	text-decoration: none !important;
}

#skills-page .inner {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#skills-page section img {
	height: 70px;
	margin: 5px;
	vertical-align: middle;
	display: flex;
	align-self: center;
}

#skills-page .img-wrap {
	background-color: white;
	border-radius: 5px;
	padding: 2px;
}

#skills-page .container > div > div:nth-child(1) {
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#skills-page .container > div:nth-child(1) {
	font-size: 40px;
	font-weight: 700;
}

#skills-page .container > div:nth-child(2) {
	font-size: 30px;
	font-weight: bold;
}

#skills-page .container > div:nth-child(3) {
	font-size: 25px;
}

#skills-page .container > div:nth-child(4) {
	font-size: 20px;
}

@media screen and (max-width: 480px) {
	body {
		font-size: 14px;
	}
	img.portrait {
		width: 90px;
	}
	header img.portrait {
		width: 30px;
	}
	#introduction {
		font-size: 11px;
		padding: 5px 10px;
		margin: 0px 10px;
		box-shadow: 0px 0px 30px rgba(192, 192, 192, 0.3);
	}
	#downloads {
		display: none;
	}
	.inner {
		max-width: 480px;
	}
	.page_title {
		font-size: 27px;
	}
	#page_tagline {
		font-size: 20px;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 24px;
	}
}

@media screen and (max-width: 550px) {
	#header_wrap header div:first-child nav {
		display: none;
	}
	#header_wrap header div:first-child img {
		position: absolute;
		left: 15px;
	}
	#header_wrap header {
		display: flex;
		justify-content: center;
		flex: 1;
	}
}

.cell {
	text-align: left;
	text-shadow: #111 0px 5px 10px;
	color: white;
	width: 350px;
	margin: 1rem;
	padding: 1rem 2rem;
}

.cell p {
	display: flex;
	font-size: 15px;
	font-family: 'Gill Sans', sans-serif;
}

.cell p:last-child {
	justify-content: space-evenly;
}

.cell.is-selected {
	border-radius: 10px;
	background: rgba(192, 192, 192, 0.1);
}

.cell img {
	max-width: 90%;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 0 0 10px black;
	justify-content: center;
	display: flex;
}

.cell a {
	color: #00adff;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
	border: 2px solid #00adff;
	border-radius: 15px;
	padding: 5px 10px;
	font-size: 14px;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

.cell a:hover {
	background: #00adff;
	transition: all 0.2s ease-in-out;
	color: white;
}

/* hide disabled button */

.flickity-prev-next-button:disabled {
	display: none;
}

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.85em;
	cursor: pointer;
	transition: all 0.15s;
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */

.cl-effect-2 a {
	line-height: 44px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 5px 10px;
}

.cl-effect-2 a span {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	box-shadow: 0px 0px 10px 1px #4b4b4b;
	background: #1a1a1a;
	border-radius: 3px;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0965a0;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span,
.cl-effect-2 a.focused span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before,
.csstransforms3d .cl-effect-2 a.focused span::before {
	background: #28a2ee;
}

/* Effect 5: same word slide in */

.cl-effect-5 a {
	overflow: hidden;
	padding: 0 5px;
	vertical-align: middle;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	color: black;
	background: white;
	border-radius: 5px;
	padding: 5px;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.cl-effect-5 a span > div {
	padding: 5px;
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span,
.cl-effect-5 a.focused span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.gallery {
	height: 310px;
}

.reactjs {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#service-worker_update {
	position: fixed;
	bottom: 10px;
	left: 50%;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity 0.5s ease-in-out;
}

#service-worker_toast {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px 5px 15px;
	background-color: #4b4b4b;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #39ff9b;
}

#service-worker_toast p {
	color: white;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	margin-right: 10px;
}

#service-worker_toast #refresh-page {
	color: #00adff;
	border-radius: 20px;
	font-weight: bold;
	padding: 2px 10px;
	margin-right: 10px;
	border: 2px solid #00adff;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

#service-worker_toast #refresh-page:hover {
	color: white;
	background-color: #00adff;
}

#service-worker_toast #close-toast {
	color: white;
	text-decoration: none;
	align-self: flex-start;
}

#service-worker_toast #close-toast:hover {
	color: black;
}

.show {
	opacity: 1 !important;
}

.hide {
	opacity: 0 !important;
}
